@model Enemy

<h2>Update @Model.name</h2>

@using (Html.BeginForm("UpdateEnemyToDatabase", "Enemy", "Post"))
{
    <input asp-for="idEnemies" type="hidden" value="@Model.idEnemies" />

    <label asp-for="name" class="control-label">Name</label>
    <input type="text" name="Name" class="form-control" value="@Model.name" />

    <label asp-for="xp" class="control-label">XP</label>
    <input type="number" step="1" name="xp" class="form-control" value="@Model.xp" />

    <label asp-for="conScore" class="control-label">Constitution Score</label>
    <input type="number" step="1" name="conScore" class="form-control" value="@Model.conScore" />

    <label asp-for="gold" class="control-label">Gold</label>
    <input type="number" step="1" name="gold" class="form-control" value="@Model.gold" />

    <label asp-for="weaponType" class="control-label">Weapon Type</label>
    <input type="text" name="weaponType" class="form-control" value="@Model.weaponType" />

    <label asp-for="health" class="control-label">Health</label>
    <input type="number" step="1" name="health" class="form-control" value="@Model.health" />

    <label asp-for="damageDie" class="control-label">Damage Die</label>
    <input type="number" step="1" name="damageDie" class="form-control" value="@Model.damageDie" />


    <input type="submit" value="Update Enemy" class="btn btn-primary" />
}