@model Enemy


<body class="bg-image"
     style="
    background-image: url('https://images.ctfassets.net/swt2dsco9mfe/3mu0p1gGUdYDDo2YYj5IK0/777cb0f5e2ae01560d56467bae14a1c7/1280x960-sts.jpeg');
    height: 100vh;
    ">
    <h3 style ="color:white;">@Model.name Information</h3>

<table class="table">
    <tr>
            <th style="color:white;">ID</th>
            <th style="color:white;">XP</th>
            <th style="color:white;">Constitution Score</th>
            <th style="color:white;">Gold</th>
            <th style="color:white;">Weapon Type</th>
            <th style="color:white;">Name</th>
            <th style="color:white;">Health</th>
            <th style="color:white;">Damage Die</th>
            <th style="color:white;">Is Alive(auto set to true)</th>
    </tr>
    <tr>
            <td style="color:white;">@Model.idEnemies</td>
            <td style="color:white;">@Model.xp</td>
            <td style="color:white;">@Model.conScore</td>
            <td style="color:white;">@Model.gold</td>
            <td style="color:white;">@Model.weaponType</td>
            <td style="color:white;">@Model.name</td>
            <td style="color:white;">@Model.health</td>
            <td style="color:white;">@Model.damageDie</td>
            <td style="color:white;">@Model.isAlive</td>
    </tr>
</table>

<div style="display: block">
        <form action="/Enemy/UpdateEnemy/@Model.idEnemies">
            <input type="submit" value="Update Enemy" class="button"/>
        </form>
</div>

<div style="display: block">

    @using (Html.BeginForm("DeleteEnemy", "Enemy", "Post"))
    {
        <input type="hidden" asp-for="idEnemies" value="@Model.idEnemies" />
            <input type="submit" onclick="return confirm('Are you sure?')" value="Delete this Enemy" class="button" />
    }
</div>
</body>